body {
  background-color: #121212;
  color: #ffffff;
}

.navbar,
.sidebar {
  background-color: #1f1f1f;
}

a {
  color: #cccccc;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

.table {
  background-color: #1f1f1f;
  color: #ffffff;
}

.card {
  background-color: #242424;
  border: 1px solid #444;
}
